/*//////////////////////////////////////////////////////////////////
BASIC CLASSES*/
.mainTitle {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.mainSubtitle {
    display: block;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.1;
    text-align: center;
    padding-bottom: 30px;
}

/*//////////////////////////////////////////////////////////////////
PAGE SETUP*/
/*---------------------------------------------
Background */
.pageBG {
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/bg-01.jpg');
}
/*---------------------------------------------
Main Container */
.mainContainer {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(255,255,255,0.6);
  }
/*---------------------------------------------
Cards Holder*/
.mainWrapper {
    width: 500px;
    background: #0D5901;
    background: -webkit-linear-gradient(45deg, #0D5901, #00B32C);
    background: -o-linear-gradient(45deg, #0D5901, #00B32C);
    background: -moz-linear-gradient(45deg, #0D5901, #00B32C);
    background: linear-gradient(45deg, #0D5901, #00B32C);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    padding: 72px 55px 65px 55px;
}

.hubWrapper {
    width: 600px;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background: #0D5901;
    background: -webkit-linear-gradient(45deg, #0D5901, #00B32C);
    background: -o-linear-gradient(45deg, #0D5901, #00B32C);
    background: -moz-linear-gradient(45deg, #0D5901, #00B32C);
    background: linear-gradient(45deg, #0D5901, #00B32C);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    padding: 72px 55px 65px 55px;
}

.santoClosEvent {
    width: 100%;
    background: rgb(3, 41, 12);
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    padding: 30px 15px 30px 15px;
    overflow: hidden;
}

.santoClosEvent .name {
    font-size: 20px;
    color: white;
    text-align: left;
    display: inline-block;
}

.santoClosEvent .date {
    font-size: 20px;
    align-self: flex-end;
    color: white;
    float: right;
}

.santoClosEvent .admin {
    font-size: 20px;
    align-self: flex-end;
    color: white;
    margin-top: 20px;
}

.createEventButton {
    font-size: 40px;
    width: 100px;
    color: white;
    text-align: center;
    background: rgb(114, 13, 13);
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
}

@media only screen and (max-width: 575px) {
    .mainWrapper {
        width: 100%;
    }
    .hubWrapper {
        width: 100%;
    }
}

/*//////////////////////////////////////////////////////////////////
FORM SETUP*/
/*---------------------------------------------
Form Holder*/
.mainForm {
    width: 100%;
}
/*---------------------------------------------
Input Holder*/
.inputWrapper {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 27px;
}
/*---------------------------------------------
Input Line*/
input.inputLine {
    height: 45px;
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    padding: 0 5px;
}
/*//////////////////////////////////////////////////////////////////
LINE FOCUS*/
/*---------------------------------------------
Focus of Input*/
.inputFocus {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
/*---------------------------------------------
Focus Line*/
.inputFocus::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
}
/*---------------------------------------------
Focus when line is being typed (Temporal focus)*/
.inputLine:focus + .inputFocus::before {
    width: 100%;
}
/*---------------------------------------------
Focus when line has text (Permanent focus)*/
.has-val.inputLine + .inputFocus::before {
    width: 100%;
}
/*//////////////////////////////////////////////////////////////////
VALIDATION*/
/*---------------------------------------------
Text box of error*/
.alertValidation::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
/*---------------------------------------------
Exclamation mark of error*/
.alertValidation::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}
/*---------------------------------------------
Show text box on hover*/
.alertValidation:hover::before {
    visibility: visible;
    opacity: 1;
}
/*---------------------------------------------
Show text box always if screen is smaller (Possible mobile and can't hover)*/
@media (max-width: 992px) {
    .alertValidation::before {
        visibility: visible;
        opacity: 1;
    }
}